* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3f1415;
  color: whitesmoke
}

.container {
  text-align: center;
  position: relative;
  top: 200px;
  border: 5px solid rgb(34, 13, 13);
  width: 30%;
  left: 35%;
  padding: 30px;
}

img {
  height: 150px;
  width: auto;
  border-radius: 10%;
}

.title {
  font-size: 50px;
}

.name {
  font-size: 30px;
}

.ingredients {
  display: inline;
  font-size: 20px;
  font-weight: 550;
}

.measure {
  display: inline;
  font-size: 18px;
  font-style: italic;
}

.instructions {
  padding: 10px;
  font-size: 18px;
  font-style: italic;
}

.button {
  color: white;
  border: 0;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color:#290d0d;
  box-shadow: 9px 9px 16px #39111168;
  margin: 20px;
  transition: all 0.3s;
  cursor: pointer;
  outline: 0;
}

.button:hover, .button:focus {
  box-shadow: 0 0 0        rgba(163,177,198,0.6), -0 -0 0    rgba(236, 240, 241, 0.6), 3px 3px 5px        rgba(163,177,198,0.6) inset, -3px -3px 3px rgba(255,255,255, 0.3) inset;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (max-width: 600px) {
  .container {
    position: relative;
    top: 100%;
    border: none;
    text-align: center;
    width: 50%;
  }
  
  img {
    height: 120px;
    width: auto;
    border-radius: 10%;
    position: relative;
    right: 30px;
  }
  
  .title {
    font-size: 30px;
    display: block;
    position: relative;
    right: 30px;
  }
  
  .name {
    font-size: 20px;
    position: relative;
    right: 30px;
  }
  
  .ingredients {
    display: block;
    font-size: 20px;
    font-weight: 550;
    position: relative;
    right: 30px;
  }
  
  .measure {
    display: block;
    font-size: 18px;
    font-style: italic;
    position: relative;
    right: 30px;
  }
  
  .instructions {
    padding: 10px;
    font-size: 18px;
    font-style: italic;
    position: relative;
    right: 30px;
  }
  
  .button {
    color: white;
    position: relative;
    right: 60px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color:#321010;
    box-shadow: 9px 9px 16px #39111168;
    transition: all 0.3s;
    cursor: pointer;
    outline: 0;
  }
  
  .button:hover, .button:focus {
    box-shadow: 0 0 0        rgba(163,177,198,0.6), -0 -0 0    rgba(236, 240, 241, 0.6), 3px 3px 5px        rgba(163,177,198,0.6) inset, -3px -3px 3px rgba(255,255,255, 0.3) inset;
  }
}

